/* Your Styling */


h1 {
	background: #f0f;
	color: #fff;
	height: 100px;
	width: 100px;
	margin: 2em auto;

	/* Horizontal Center*/
	text-align: center;
	line-height: 100px;

	/* 	Make into circle */
	border-radius: 100px;
}

h1:hover {
	background: black;
	transition: background 1s ;
}